$primary-color: hsl(0, 0%, 24%);
$secondary-color: white;
$accent-color: #ff0000;
$complementing-color: hsl(0, 0%, 15%);

body {
  font-size: 1.5rem;
  line-height: 1.5rem;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

nav {
  background-color: $complementing-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

nav > h1 {
  margin: 0;
  font-size: xx-large;
  text-align: center;
}

.spacer {
  height: 3rem;
}

main {
  width: 50%;
  max-width: 100%;
  margin: auto;
}

#error {
  padding: 0.5rem;
  background-color: red;
  font-weight: bold;
  display: none;
}

form {
  width: 100%;
  background-color: hsl(0, 0%, 30%);
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.decision-block {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

label {
  margin-bottom: 0.15rem;
  display: inline-block;
}

// stolen from tailwindcss
button,
input,
option,
select,
optgroup,
textarea,
::file-selector-button {
  font-size: medium;
  background-color: transparent;
  color: white;
}

::file-selector-button {
  border: none;
  border-right: 1px solid white;
}

select,
input,
button {
  box-sizing: border-box;
  border: 1px solid $primary-color;
  width: 100%;
  display: block;
  height: 2.5rem;
  border-radius: 0.35rem;
  background-color: $complementing-color;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5em;
  width: auto;
  display: inline;
}

hr {
  margin: 0;
  border-color: $accent-color;
}

input:hover,
select:hover,
input:focus,
select:focus {
  box-sizing: border-box;
  border: 2px solid $accent-color;
}

button {
  font-size: large;
  padding: 0.5rem;
  background-color: #af0404;
  border: 1px solid black;
  margin-bottom: 1rem;
}

button:hover,
:focus {
  border: 2px solid black;
}

#images {
  background-color: $complementing-color;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#images,
form {
  width: 100%;
  max-width: 100%;
  padding: 0.25rem;
}

canvas {
  max-width: 100%;
  margin: auto;
  display: block;
}

@media screen and (max-width: 870px) {
  main {
    width: 75%;
  }
}

@media screen and (max-width: 570px) {
  body {
    padding: 0;
    margin: 0;
  }

  main {
    width: 100%;
  }

  #images,
  form {
    padding: 0.4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 95%;
    margin: auto;
  }
}

footer {
  background-color: $complementing-color;
  font-size: 1rem;
  height: 1rem;
  padding: 0.75rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 1.5rem);
}

.fetch-button {
  background-color: $complementing-color;
  border: solid $accent-color 1px;
}

.fetch-button:hover,
.fetch-button:focus {
  border: solid $accent-color 2px;
}
