$primary-color: hsl(0, 0%, 0%);
$secondary-color: white;
$accent-color: #ff0000;
$complementing-color: hsl(0, 0%, 15%);

body {
  font-size: 1.2rem;
  line-height: 1.5rem;
  background-color: rgb(0, 0, 0);
  color: $secondary-color;
  font-family: Roboto, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

nav {
  background-color: $complementing-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 2rem;
}

nav > a {
  margin: 0;
  font-weight: 900;
  margin-right: 2em;
  color: white;

  // little trick stolen from css-ril.info
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 500ms;
}

nav > a > h2 {
  color: white;
}

nav > a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1,
h2 {
  color: $accent-color;
}

.spacer {
  height: 4rem;
}

main {
  width: 50%;
  max-width: 100%;
  margin: auto;
}

#error {
  padding: 0.5rem;
  background-color: red;
  font-weight: bold;
  display: none;
}

form {
  width: 100%;
  background-color: $complementing-color;
  color: white;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.decision-block {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

label {
  margin-bottom: 0rem;
  display: inline-block;
  font-weight: 500;
}

// stolen from tailwindcss
button,
input,
option,
select,
optgroup,
textarea,
::file-selector-button {
  font-size: medium;
  background-color: transparent;
  color: white;
}

::file-selector-button {
  border: none;
  border-right: 1px solid white;
}

select,
input,
button {
  box-sizing: border-box;
  border: 1px solid $primary-color;
  width: 100%;
  display: block;
  height: 2.5rem;
  border-radius: 0.35rem;
  background-color: white;
  color: black;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5em;
  width: auto;
  display: inline;
  margin-top: -1px;
  vertical-align: middle;
}

hr {
  margin: 0;
  border-color: $accent-color;
}

input:hover,
select:hover,
input:focus,
select:focus {
  box-sizing: border-box;
  border: 2px solid $accent-color;
}

button {
  font-size: large;
  padding: 0.5rem;
  background-color: #af0404;
  color: white;
  border: 1px solid black;
  margin-bottom: 1rem;
}

button:hover,
button:focus {
  border: 2px solid white;
}

#images {
  background-color: $complementing-color;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#images,
form {
  width: 100%;
  max-width: 100%;
  padding: 0.25rem;
}

canvas {
  max-width: 100%;
  margin: auto;
  display: block;
}

@media screen and (max-width: 1100px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 870px) {
  main {
    width: 75%;
  }

  nav {
    justify-content: space-around;
  }
}

@media screen and (max-width: 570px) {
  body {
    padding: 0;
    margin: 0;
  }

  nav > a {
    font-size: 0.8em;
  }

  .spacer {
    height: 4em;
  }

  main {
    width: 100%;
  }

  #images,
  form {
    padding: 0.4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 95%;
    margin: auto;
  }
}

footer {
  background-color: $complementing-color;
  font-size: 1rem;
  height: 1rem;
  padding: 0.75rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 1.5rem);
}

.fetch-button {
  background-color: $complementing-color;
  color: white;
  border: solid $accent-color 2px;
}

.fetch-button:hover,
.fetch-button:focus {
  border: solid $accent-color 4px;
}

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.throbber {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 0.3rem dotted red;
  animation-name: throbber;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button[type="submit"] .throbber {
  border-color: white;
}

@keyframes throbber {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
